.contact {
  flex-direction: column;
}

.contact_section {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  padding: 0 20px;

}